/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2021, 1:10:25 PM
    Author     : Cristian
*/
#labTitulo{
            -fx-font-family: "Berlin Sans FB";
            -fx-font-size: 36px;
            -fx-text-fill: #FFFFFF;
            -fx-font-style: italic;
}

#panel{-fx-background-color: #660099}

.button{    -fx-font-family: "Comic Sans MS";
            -fx-font-size: 24px;
            -fx-text-fill: #FFCC00;
            -fx-font-style: italic;
            
            -fx-background-radius: 5px;
            -fx-background-color: #02CF08;
            -fx-border-with: 2px;
            -fx-border-radius: 5px;
            -fx-border-color: #FFFFFF;
            
            }

.button:hover{ -fx-background-color: #333333;
               -fx-font-size: 22px;  
}

.button:pressed{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}
            
#labCreacion, #labNombre {
            -fx-font-family: "Berlin Sans FB ";
            -fx-font-size: 12px;
            -fx-text-fill: #0097D7;
}